body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  #cityInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
  }
  
  #cityDropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    width: 300px;
  }
  
  #cityDropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #6a6969;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  #cityDropdown ul li {
    cursor: pointer;
    padding: 8px 12px;
    transition: background-color 0.3s;
  }
  
  #cityDropdown ul li:hover {
    background-color: #f7c7c7;
  }
  
  #cityInfo {
    margin-top: 20px;
    background-color: #85abe8;
    box-shadow: 0 2px 5px rgba(167, 246, 8, 0.2);
    padding: 20px;
    border-radius: 4px;
  }
  
  #cityInfo h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #070361;
  }
  
  #cityInfo p {
    margin: 5px 0;
    color: #10100f;
    
  }
  
  /* Optional: Custom styling for selected dropdown item */
  #cityDropdown ul li.selected {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  